<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Tickets</title>

    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body class="app-body">

<div class="app-layout">

    <div th:replace="~{fragments/nav :: sidebar(${activo})}"></div>

    <div class="app-content">

        <div th:replace="~{fragments/nav :: topbar}"></div>

        <main class="page-content">

            <h2>Mis Tickets</h2>

            <div class="d-flex gap-2 mb-3">

                <a th:href="@{/tickets/nuevo}"
                   class="btn btn-primary">
                    Nuevo Ticket
                </a>

            </div>

            <div class="card ">
                <div class="card-body table-responsive">

                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Título</th>
                            <th>Categoría</th>
                            <th>Prioridad</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="ticket : ${tickets}">
                            <td th:text="${ticket.idTicket}"></td>
                            <td th:text="${ticket.codigoTicket}"></td>
                            <td th:text="${ticket.titulo}"></td>
                            <td th:text="${ticket.categoria.nombreCategoria}"></td>
                            <td><span class="badge" th:classappend="${'prioridad-' + #strings.toLowerCase(ticket.prioridad.nombrePrioridad)}" th:text="${ticket.prioridad.nombrePrioridad}"></span></td>
                            <td><span class="badge" th:classappend="${'estado-' + #strings.toLowerCase(#strings.replace(ticket.estado.nombreEstado,' ','-'))}" th:text="${ticket.estado.nombreEstado}"></span></td>
                            <td th:text="${ticket.fechaRegistro}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </main>

    </div>

</div>

</body>
</html>
