<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - HelpDesk</title>

    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body class="auth-body">

<div class="auth-card">

    <div class="auth-brand">
        <i class="bi bi-ticket-perforated-fill"></i>
        <span>HelpDesk</span>
    </div>

    <div class="card">
        <div class="card-body p-4">

            <h2 class="text-center mb-4">
                Iniciar Sesión
            </h2>

            <div th:if="${param.error}"
                 class="alert alert-danger">
                Correo o contraseña incorrectos.
            </div>

            <div th:if="${param.logout}"
                 class="alert alert-success">
                Sesión cerrada correctamente.
            </div>
            <div th:if="${param.registro}"
                 class="alert alert-success">
                Usuario registrado correctamente.
            </div>

            <form th:action="@{/login}" method="post">

                <div class="mb-3">
                    <label>Correo</label>
                    <input type="email"
                           name="username"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password"
                           name="password"
                           class="form-control"
                           required>
                </div>

                <button type="submit"
                        class="btn btn-primary w-100">
                    Ingresar
                </button>
                <a th:href="@{/registro}"
                   class="btn btn-outline-primary w-100 mt-2">
                    Registrarse
                </a>

            </form>

        </div>
    </div>

</div>

</body>
</html>
